.fullscreen-center {
  display: flex;
  width: 100vw;
  height: calc(80vh - 80px);
  justify-content: center;
  align-items: center;
}

.centered-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #888;
  background: #DDD;
  padding: 20px;
  gap: 10px;

  & > * {
    margin: 0;
  }

  & > label {
    margin-top: 10px;
  }
}

.error-label {
  margin-top: 10px;
  color: red;
  font-size: .8em;
}