@using ApiContracts
@using BlazorClient.Services
@using HostApp.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthService AuthService;
@inject IUserService UserService;
@inject AuthenticationStateProvider AuthStateProvider;
@inject NavigationManager Nav;

<div class="fullscreen-center">
    <div class="centered-box">
        <h3>Redigere profil</h3>

        <label for="newUsername">Ny Brugernavn:</label>
        <input type="text" id="newUsername" @bind="Username">
        <div>
            <button class="button" @onclick="NewUsername">opdatere brugernavn</button> 
        </div>
        <label for="newPassword"> Ny Adgangskode:</label>
        <input type="password" id="newPassword" @bind="Password">
        <div>
            <button class="button" @onclick="NewPassword">opdatere adgangskoden</button> 
        </div>
        <div>
            <button class="button" @onclick="DeleteUser">Slet bruger</button> 
        </div>
        <span id="error" class="error-label">@Error</span>
    </div>
    
    
    
</div>

@code {

    private string Username { get; set; } = "";
    private string Password { get; set; } = "";
    private string Error { get; set; } = "";

    private async Task NewUsername()
    {
        int userId = int.Parse((await AuthStateProvider.GetAuthenticationStateAsync()).User.FindFirst("Id")!.Value);
        UserDTO username = await UserService.UpdateUsername(userId, Username);
    }

    private async Task NewPassword()
    {
        int userId = int.Parse((await AuthStateProvider.GetAuthenticationStateAsync()).User.FindFirst("Id")!.Value);
        UserDTO password = await UserService.UpdatePassword(userId, Password);
    }

    private async Task DeleteUser()
    {
        int userId = int.Parse((await AuthStateProvider.GetAuthenticationStateAsync()).User.FindFirst("Id")!.Value); 
        await UserService.DeleteUser(userId);
    }

}