@page "/login"
@using HostApp.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpAuthService HttpAuthService;
@inject AuthenticationStateProvider AuthStateProvider;
@inject NavigationManager Nav;

<div class="fullscreen-center">
    <div class="centered-box">
        <h3>Log ind</h3>

        <label for="username">Brugernavn:</label>
        <input type="text" id="username" @bind="Username">
        <label for="password">Adgangskode:</label>
        <input type="password" id="password" @bind="Password">
        <span id="error" class="error-label">@Error</span>
        <button @onclick="Signin">Log ind</button>
        <p>Har du ikke en bruger?</p>
        <button @onclick='() => Nav.NavigateTo("/signup")'>Opret dig</button>
    </div>
</div>

@code {
    private string Username { get; set; } = "";
    private string Password { get; set; } = "";
    private string Error { get; set; } = "";

    private async Task Signin()
    {
        try
        {
            if (AuthStateProvider is TokenAuthenticationStateProvider provider)
            {
                await provider.SignIn(await HttpAuthService.LoginAndReturnToken(Username, Password));

                Nav.NavigateTo("/");
            }
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
    }

}