.options {
  display: flex;
  gap: 10px;
}

.visibility-tag {
  padding: 2px 4px;
  background: #006bb7;
  color: #fff;
  font-size: 1.0rem;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 8px;
}

.error-text {
  color: red;
}