h1 {
  text-align: center;

}

h3 {
  margin-top: 30px;

}

#quiz-name {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.button {
  border: solid;
  display: block;
  margin: 0 auto;
}

.error-text {
  color: red;
}