@page "/quiz/create"
@using ApiContracts
@inject IQuizService QuizService
@inject NavigationManager Nav
@using HostApp.Services

<PageTitle>Kahoot++ | Opret Quiz</PageTitle>

<div class="centered-page">
    <div class="content-page">
        <div>
            <h1>Opret Quiz</h1>
        </div>
        <div>
            <label for="quiz-name">Giv din quiz et navn</label>
            <input id="quiz-name" placeholder="Min quiz" @bind="Title">
        </div>
        <div>
            <button class="button" @onclick="Create">Opret</button>
        </div>
    </div>
</div>

@code {
    private string Title { get; set; }

    private async Task Create()
    {
        QuizDTO quiz = await QuizService.CreateQuiz(Title);
        Nav.NavigateTo("/quiz/" + quiz.Id + "/edit");
    }

}