@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<h1>Velkommen til kahoot ++</h1>

<AuthorizeView>
    <Authorized>
        Du er logget ind som @context.User.Identity?.Name
    </Authorized>
    <NotAuthorized>
        Du er ikke logget ind.
    </NotAuthorized>
</AuthorizeView>