@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Kahoot++</PageTitle>

<div class="centered-page">
    <div class="content-page">
        <div class="centered-hero">
            <h1>Velkommen til Kahoot++</h1>
            <div class="hero-buttons">
                <AuthorizeView>
                    <Authorized>
                        <NavLink href="/quizzes">
                            <button>Find en quiz!</button>
                        </NavLink>
                        <NavLink href="/quiz/create">
                            <button>Lav din egen quiz!</button>
                        </NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink href="/signup">
                            <button>Opret dig!</button>
                        </NavLink>
                        <NavLink href="/login">
                            <button>Log ind!</button>
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</div>