.centered-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  
  h1 {
    font-size: 4em;
  }
  
  .hero-buttons {
    display: flex;
    gap: 20px;
  }
  
  button {
    font-size: 1.5em;
    padding: 16px 32px;
    box-shadow: 0 4px 8px #0004;
  }
}