.cards-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  
  & > .spacer {
    margin-left: auto;
  }
}

.big-create-button {
  padding: 16px 24px;
  font-size: 1em;
}