.body {
    background: #5b9fff;
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.centered-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content-inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-container {
    padding: 30px;
}

.center-content-veritcally {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leave-button {
    background: #df1414;
    border: none;
    outline: none;
    box-shadow: 0 5px #881414;
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    transform-origin: 0% 150%;
    animation: l20-0 2s infinite linear;
}
.loader:before,
.loader:after {
    content: "";
    flex: 1;
    background: white;
    animation: l20-1 1s infinite linear alternate;
    border-radius: 100px 0 0 100px;
    transform-origin: 100% 100%;
}
.loader:after {
    border-radius: 0 100px 100px 0;
    transform-origin: 0% 100%;
    --s:-1;
}
@keyframes l20-0 {
    0%,10%   {transform:translateY(0)     scaleY(1)}
    49.99%   {transform:translateY(-100%) scaleY(1)}
    50%      {transform:translateY(-100%) scaleY(-1)}
    90%,100% {transform:translateY(-200%) scaleY(-1)}
}
@keyframes l20-1 {
    0%,20%  {transform:rotate(0deg)                    translate(0,0)     rotate(0deg)}
    50%     {transform:rotate(calc(var(--s,1)*-90deg)) translate(0,0)     rotate(0deg)}
    100%    {transform:rotate(calc(var(--s,1)*-90deg)) translate(0,-20px) rotate(calc(var(--s,1)*-90deg))}
}