.body {
    width: 100vw;
    height: 100vh;
    background: #cb4444;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-content {
    flex-grow: 1;
    min-width: 200px;
    max-width: 300px;
    height: 30%;
    
    h1 {
        text-align: center;
        width: 100%;
        height: 20%;
        color: white;
        font-size: 3rem;
        transform: rotate(-4deg);
    }
}

.error-text {
    color: red;
    margin: 0;
}

.red-border {
    border: 2px solid red;
}

.code-input {
    letter-spacing: .5rem;    
}

.text-input {
    background: white;
    width: 100%;
    height: 3rem;
    border: 2px #CCCCCC solid;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    
    &::placeholder {
        color: #CCCCCC;
        opacity: .8;
    }
}

.content-container {
    background: white;
    border-radius: 15px;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.4);
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    transition: height 300ms;
}

.start-button {
    width: 100%;
    height: calc(3rem - 5px);
    padding: 5px;
    color: white;
    background: #333333;
    box-shadow: 0 5px #222222;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.error-text-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 30px;
    background: white;
    border-radius: 5px 5px 0 0;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hide {
    display: none;
}

.close-button {
    color: white;
    background: #cb4444;
    outline: none;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
}