@page "/play"
@using ParticipantApp.Services
@inject IParticipateService ParticipateService;
@inject NavigationManager Nav;

<div class="body">
    <div class="centered-content">
        @if (State == "join")
        {
            <h1>Kahoot++</h1>

            <div class="content-container">
                <input @bind="Code" @oninput="e => AutoCheckCode(e)" class="code-input text-input" placeholder="ABC123" maxlength="6"/>
                <button class="start-button" @onclick="GoToNameState">Start</button>
            </div>
        } else if (State == "name")
        {
            <div class="content-container">
                <h2>Indtast dit navn</h2>
                <input @bind="NameString" class="name-input text-input" placeholder="Ex. Bob..."/>
                <button class="start-button" @onclick="Join">Tilslut</button>
            </div>
        }
    </div>
</div>

<div class="error-text-container @(String.IsNullOrEmpty(ErrorText)? "hide" : "")">
    <p class="error-text">@ErrorText</p>
    <button class="close-button" @onclick="CloseErrorMessage">x</button>
</div>

@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Code { get; set; } = "";
    private string NameString { get; set; } = "";
    private string ErrorText { get; set; } = "";

    private string State { get; set; } = "join";

    protected override async Task OnInitializedAsync()
    {
        if (Code != null)
        {
            GoToNameState();
        }
    }

    private void GoToNameState()
    {
        try
        {
            if (Code?.Length != 6) throw new Exception("Koden skal være 6 tegn");
            
            State = "name";

        }
        catch (Exception e)
        {
            ErrorText = e.Message;
        }
    }

    private async void Join()
    {
        try
        {
            if (String.IsNullOrWhiteSpace(NameString)) throw new ArgumentException("Ugyldigt navn");

            await ParticipateService.JoinAsync(Code!.ToUpper(), NameString);
            
            Nav.NavigateTo("game");
        }
        catch (ArgumentException e)
        {
            ErrorText = e.Message;
        }
        catch (Exception e)
        {
            ErrorText = e.Message;
            State = "join";
        }
    }

    private void CloseErrorMessage()
    {
        ErrorText = "";
    }

    private void AutoCheckCode(ChangeEventArgs e)
    {
        if (e.Value?.ToString()?.Length == 6)
        {
            Code = e.Value.ToString();
            GoToNameState();
        }
    }
}