@page "/Signup"
@using BlazorApp.Services
@using BlazorClient.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthService AuthService;
@inject UserService UserService;
@inject AuthenticationStateProvider AuthStateProvider;
@inject NavigationManager Nav;
<h3>Opret dig</h3>

<label for="username">Brugernavn:</label>
<input type="text" id="username" @bind="Username">
<label for="password">Adgangskode:</label>
<input type="password" id="password" @bind="Password">

<button @onclick="RegisterAccount">Opret dig</button>

@code {
    
    private string Username { get; set; } = "";
    private string Password { get; set; } = "";

    private async Task RegisterAccount()
    {
        await UserService.CreateUser(Username, Password);

        if (AuthStateProvider is TokenAuthenticationStateProvider provider)
        {
            await provider.SignIn(await AuthService.LoginAndReturnToken(Username, Password));
            
            Nav.NavigateTo("/");
        }
    }
    
}