@using HostApp.Services
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider;

<div class="page">
    <main>
        <div class="nav">
            <div class="nav-center">
                <AuthorizeView>
                    <Authorized>
                        <NavLink href="/">
                            <div class="nav-logo">
                                <span>Kahoot++</span>
                            </div>
                        </NavLink>
                        <div class="nav-left">
                            <NavLink href="/quizzes">
                                <div class="nav-button"><span>Find Quizzer</span></div>
                            </NavLink>
                            <NavLink href="/my-quizzes">
                                <div class="nav-button"><span>Mine Quizzer</span></div>
                            </NavLink>
                            <NavLink href="/results">
                                <div class="nav-button"><span>Resultater</span></div>
                            </NavLink>
                        </div>
                        <div class="nav-right">
                            <NavLink href="/account">
                                <div class="nav-button">
                                    <span>@context.User.Identity?.Name</span>
                                </div>
                            </NavLink>
                            <button @onclick="() => { if (AuthStateProvider is TokenAuthenticationStateProvider auth) auth.SignOut(); }">
                                Log ud
                            </button>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink href="/">
                            <div class="nav-logo"><span>Kahoot++</span></div>
                        </NavLink>
                        <div class="nav-left">
                            <NavLink href="/quizzes">
                                <div class="nav-button"><span>Find Quizzer</span></div>
                            </NavLink>
                        </div>
                        <div class="nav-right">
                            <NavLink href="/login">
                                <div class="nav-button"><span>Log ind</span></div>
                            </NavLink>
                            <NavLink href="/signup">
                                <div class="nav-button"><span>Opret dig</span></div>
                            </NavLink>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>