.main-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.answer-correct {
  color: green;
}

.answer-wrong {
  color: red;
}

.ranking {
  &.ranking {
    padding: 10px 12px;
  }

  &.ranking-0 {
    background: gold;
  }

  &.ranking-1 {
    background: silver;
  }

  &.ranking-2 {
    background: sandybrown;
  }
}

.questions-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

details {
    background: #eee;
    padding: 12px;
}

.question-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 8px;
}

.summary-answers {
  color: #555;
  font-size: .8em;
}