.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-window {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}